html{
    scroll-behavior: smooth;
}
body{
    font-family: 'poppins', sans-serif;
}

header{
    background: url(../img/pexels-diva-plavalaguna-6937940.jpg) center/cover;
}

main section:nth-child(3){
    background: url(../img/pexels-kindelmedia-7688336.jpg) center/cover;
}