*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
p{
    color: rgba(0, 0, 0, 0.75)
}

/*Header*/
header{   
    background: url(../img/pexels-diva-plavalaguna-6937940.jpg) no-repeat center/cover;
    height: 65vh;
}
header  div{
    display: flex;
    align-items: center;
    padding:20px 30px;
    justify-content: space-between;
    font-size: 18px ;
    color: white;
}
header span{
    display: flex;
}
header span > a{
    border-right: 1px solid white;
    padding: 0px 12px;
    font-weight: 500;
    transition: transform 0.3s ease-in-out
}
header span a:last-child{
    border:none;
}

/*Redes Sociales*/
.redes {
    gap: 35px;
}
header svg{
    width: 30px;
    fill: white;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
/*Redes Sociales*/

/*Nav*/
nav{
    margin-right: 85px;
    margin-left: 85px;
    margin-top: 35px;
    display: flex;
    justify-content: flex-end;
}
nav > a, nav > select{
    margin-right: 22px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}
nav > a:nth-child(8){
    margin-left:60px;
}
/*Nav*/

/*Comportamiento del nav y la seccion de redes*/
nav > a:hover, nav > select:hover, .redes > svg:hover, nav > a > svg:hover, header span > a:hover{
    transform: scale(1.1);
    color: rgb(74, 74, 230);
    fill:rgb(74, 74, 230);
}

/*Comportamiento del nav y la seccion de redes*/

/*Titulo en el header*/
h1{
    color: white;
    font-size: 85px;
    margin: 70px auto;
    width:fit-content;
    font-weight: bold;
}
/*Titulo en el header*/

/*Header*/

/*Main*/

/*Seccion Hero*/
.hero { /*Altura y ancho de la seccion*/
    height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.info{ /*Estilo del apartado de informacion*/
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: rgba(0, 0, 0, 0.75);
    font-size: 18px;
    margin-left: 5%;
    margin-right: 2%;
}
.info span{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.imagen{ /*Estilo del apartado de la imagen*/
    height: 80%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-right: -10px;  
}
.imagen > img{ /*Estilo de la imagen*/
    width: 90%;
}
.info h3{ /*Estilo de los subtitulos de la seccion info*/
    font-weight: bold;
    font-size: 22px;
    color: black;
}
.cont-derecho{ /*Mini-contenedor derecho, con iconos*/
    height:220px;
    width:40px;
    border-radius: 10px 0px 0px 10px ;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 15px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.cont-derecho svg{ /*Estilo de los iconos del mini-contenedor derecho*/
    width:18px; 
    margin: 10px 0px;
    fill: white;
}
/*Seccion Hero*/



/*Seccion de la informacion del "grupo"*/
.grupo{ 
    background-color: rgb(214, 214, 221);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50vh;
}
.grupo > div{
    width: 25%;
    text-align: center;
    margin: 20px 10px;
}
.grupo h3{
    font-size: 25px;
}
/*Seccion de la informacion del "grupo"*/

/*Seccion de las fotos*/
.get-started{
    height: 100vh;
    border:1px solid red;
}
.parte-superior{
    height: 50%;   
    display: flex;
    justify-content: center;
}
.parte-superior > img{
    width: 100%;
    filter:grayscale()
}
.parte-inferior{
    height:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top:2px solid black;
}
.parte-inferior{
    background: url(../img/pexels-kindelmedia-7688336.jpg) no-repeat center/cover;
}
.get-started h2{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
.get-started p{
    text-align: center;
    margin: 10px;
}
.get-started button{
    height:60px;
    width: 210px;
    background-color: rgb(154, 154, 197);
    margin: 20px auto;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.get-started button:hover{
    transform: scale(1.1);
}
/*Seccion de las fotos*/


/*Seccion "about us"*/
.about{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(5, 5, 17);
}
.about > div{
    width:24%;
    height: 80%;
    
}
.about h4{
    font-size:20px ;
    font-weight: bolder;
    color: white;
    margin: 10px 15px;
}
.about h5{
    color: white;
    font-size: 18px;
    font-weight: bolder;
    margin: 20px 15px;
}
.about p{
    font-size: 18px;
    color: grey;
    margin: 20px 15px;
}
.recent-post > div{
    display: flex;
    border-bottom: 1px solid grey;
    padding-bottom: 7px;
    margin: 8px 20px;
    align-items: center;
}
.recent-post div > div:nth-child(1){
    width: 30%;
}
.recent-post div > div:nth-child(2){
    width: 70%;
}
.recent-post h6{
    color: white;
}
.recent-post p{
    margin:0;
    color: grey;
}
.recent-post img{
    width:110px;
}

.newsletter-form{
    border: 8px solid grey;
    margin: 10px auto;
    width: 85%;
    
}
.newsletter > h4{
    margin: 10px 0px 10px 35px;
}
.newsletter-form p {
    margin:15px 18px;
}
.newsletter-form input{
    width: 90%;
    height: 55px;
    border:2px solid grey;
    margin: 70px 18px 0px 18px;
    color: white;
    padding: 0px 20px;
}
.newsletter-form button{
    background-color: blueviolet;
    width: 90%;
    height: 55px;
    margin: 20px 18px;
    color: white;
    border: none;
    cursor: pointer;
}
/*Seccion "about us"*/
/*Main*/

/*Footer*/
footer{
    background-color: rgba(0, 0, 0, 0.877) ;
    display: flex;
    justify-content: space-between;
    height: 85px;
    align-items: center;
    padding: 0px 60px;
}
footer p{
    color: grey;
}
footer > span > ul{
    display: flex;
    gap: 20px;
    list-style-type: disc;
    color: grey;
}
footer > span > ul > li:first-child{
    list-style-type: none;
} 
footer a{
    transition: all 0.3s ease-in-out;
}
footer a:hover{
    color: rgba(128, 128, 128, 0.603);
}
/*Footer*/